body{
    background: #f5f5f5;
}
#wrap{
    margin:0 auto;
    float:none;
    text-align: center;
}
#logo{
    margin:50px 0;
}
.table{
    margin-top:50px;
}
.success, .error {
    display: none;
    border: 1px solid;
    margin: 0 auto;
    padding:10px 25px;
    border-radius: 7px;
    max-width: 600px;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}