body{
    background:#e4eef3;
}
.clearfix{
    clear:both;
    display: block;
}
#container{
    width:900px;
    margin:20 auto;
    text-align: center;
}
#logo{
    position: relative;
    margin-top:100px;
    margin-bottom: 70px;
}
ul li{
    margin: 0 1px;
    float:right;
    display:inline;
}
ul li a{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    border-radius: .3em;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
}
ul li a:hover{
    background: #f47c20;
}
ul li a:active{
    position: relative;
    top: 1px;
}
h1{
    color:#6f9fb4;
    font: 16px Verdana;
}
input{
    border: 2px solid #d9e2e3;
    padding:5px;
    color:#7e888b;
    border-radius: 3px;
    font:16px Verdana;
}
#longurl{
    width:450px;
    height:40px;
    margin-right:-4px;
    border-right: none;
    padding: 5 10px;
}
#longurl:focus{
    outline: none;
}
#btnshorten{
    margin-left: 0;
    height:40px;
    padding: 5px 30px;
    background: #469cc1;
    color: white;
    border-left: none;
}
#btnshorten:hover{
    background: #4ba6ce;
}
label, p, p a{
    color: #6284b4;
    font:13px Verdana;
    line-height: 50px;
}
footer{
    margin-top: 70px;
    border-radius: 5px;
}
#custurl{
    padding: 0 0 0 5px;
    width:150px;
}
.success, .error {
    display: none;
    border: 1px solid;
    margin: 0 auto;
    padding:10px 25px;
    border-radius: 7px;
    max-width: 600px;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}